Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  overflow-x:hidden;
}

body {
  width: 100%;
  height: 100%;
  background: url("/assets/images/violin-bg3.jpg") no-repeat center fixed;
  background-size: cover;
  background-color: #282242;
  color: #eee;
  overflow-x:hidden
}

// nav {
//   display:flex;
// }

section {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}


p {
  font-size: 1.5rem;
  font-weight: 300;
}

img{
  width: 100%;
}



/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
  body {
    background: url("/assets/images/violin-bg3.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
  }

  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  // nav {
  //   position: relative;
  // }

  .hamburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    display: none;
  }

  .section-heading h1{
  font-size: 2rem;
  color: rgba(255,255,255, 1);
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
  p {
  font-size: 1rem;
  font-weight: 300;
  }

  .li {
    margin: 2rem 0;
  }

  .nav-link{
    font-size: 1rem;
  }

  .about-details {
  flex: 1;
  padding: 0px 16px;
  }

  .about-details .nav-list{
    flex-direction: initial;
  }

  .about-details li{
    margin: 0 2rem;
  }

  .portfolio-item{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 0px 20px;
    width: 95%;
  }

  .portfolio-img{
    margin: 0 38px 2rem 0;
    order: 1;
    width: 90%;
    flex:1;
  }


  .portfolio-description{
    margin: 0;
    order: 2;
  }

    .skill{
    width: 100%;
    padding: 0 24px;
  }



  .icon-container{
    width: 7rem;
    height: 7rem;
  }

  .icon-container i{
    font-size: 4rem;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {


  // .banner h1{
  //   font-size: 92px;
  // }

  // .menu-toggler{
  //   top: 2rem;
  //   right: 2rem;
  // }

  // .landing-text h1{
  //   font-size: 6rem;
  // }

  // .landing-text h6{
  //   font-size: 1.4rem;
  // }

  .social-media .nav-list li {
      padding: 0rem;
      display: column;
  }

  // .social-media i {
  //   font-size: 4rem;
  //   transition: color 650ms;
  // }

  .nav-link{
    font-size: 1.5rem;
  }

  .about .container{
    flex-direction: column;
  }

  .profile-img{
    margin: 0 0 2rem 0;
  }

  // .my-skills {
  //   margin-top: 10rem;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  //   grid-gap: 8px;
  //   text-align: center;
  // }

  .skill{
    width: 100%;
  }

  .skill p{
    font-size: 4rem;
  }

  .portfolio-item{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 0px 20px;
  }

  .portfolio-img{
    margin: 0 38px 2rem 0;
    order: 1;
    width: 90%;
    flex:1;
  }


  .portfolio-description{
    margin: 0;
    order: 2;
  }

  // .timeline p{
  //   font-size: 1.6rem;
  // }

  // .timeline .date::before{
  //   font-size: 1.3rem;
  // }

  form{
    width: 90%;
  }

  // .up{
  //   right: 2rem;
  // }
}

@media screen and (max-width: 320px) {
  .skill {
    width: 84%;
  }
}

@media screen and (max-width: 280px) {
  .skill {
    width: 75%;
  }
}
