Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background: url("/assets/images/bg-img.jpg") no-repeat center fixed;
  background-size: cover;
  background-color: #282242;
  color: #eee;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .my-skills {
    width: 700px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
  body {
    background: url("/assets/images/bg-img.jpg") no-repeat center fixed;
    background-size: cover;
  }

  .landing-text h1 {
    font-size: 15rem;
  }

  .landing-text h6{
    font-size: 3rem;
  }

  .nav-list {
    flex-direction: column;
  }

  .li {
    margin: 2rem 0;
  }

  .nav-link{
    font-size: 4.5rem;
  }

  .about-heading h1{
    font-size: 8rem;
  }

  .section-heading h1{
    font-size: 3rem;
  }

  .about-details .nav-list{
    flex-direction: initial;
  }

  .about-details li{
    margin: 0 2rem;
  }

  .icon-container{
    width: 7rem;
    height: 7rem;
  }

  .icon-container i{
    font-size: 4rem;
  }

  .timeline ul{
    margin: 0 0 0 auto;
  }

  .timeline .date::before{
    left: -20rem;
  }

  .timeline .date::after{
    left: -5.9rem;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {

}
