.banner {
  padding: 1rem;
  margin: 0;
  user-select: none;
  text-align: center;
  height: 84vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 160px;
    font-family: 'Dancing Script', sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-size: 20px;
    font-family: 'Dancing Script', sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content {
    width: 100%;
  }

}

// .banner .container{
//   width: 100%;
//   padding: 15px 0;
//   margin: 15px 0;
// }
