.container-form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  // align-items:center;
}

.header-contact {
  text-align: center;
  color: white;
  font-size: 24px;
}
#contact-form {
  text-align: left;
  margin: 16px;
  justify-content:space-around;

}

#submit-btn {
  margin-top: 16px;
  border-radius: 8px;
}
