.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0 24px;
}

.portfolio-item last-child {
  margin-bottom: 0;
}

.portfolio-img{
  width: 50rem;
  flex: 1;
}
.portfolio-description{
  flex: 1;
  background-color: rgba(0,0,14,0.7);
  padding: 16px;
}
.portfolio-description h1{
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
  color: #fd57bf;
}

.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  // opacity: 0.5;
}

.portfolio-description .cta {
  background-color: #3883ff;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  padding: 8px 8px;
  // transition: color 650ms;
}


.portfolio-description .cta:hover{
  color: white;
  text-decoration: none;
  background-color: #4966a0;
  transition: background-color 650ms;
}
