.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  
}

.portfolio-item last-child {
  margin-bottom: 0;
}

.portfolio-img{
  width: 50rem;
  flex: 1;
}
.portfolio-description{
  flex: 1;
}

.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
