.about .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1{
  font-size: calc(48px + 10vw);
  opacity: .4;
}

.about-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.profile-img{
  flex: 1;
  filter: grayscale(100%);
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img{
  width: 75%;
  // height: 320px;
  border-radius: 10px;
}

.about-details{
  flex: 1;
}
