.contact {
  // background-color: #221e3f;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

form label{
  font-size: 1.5rem;
  text-align:left;
}

input, select, textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom:  5px;
  border: none;
  outline-color: #fd57bf;
}

input[type="submit"]{
  width: initial;
  background-color: #fd57bf;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover{
  color: #221e3f;
  background-color: #ffe838;
}


#status {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
}
#status.success{
  background-color: green;
  animation: status 4s ease forwards;
}
#status.error{
  background-color: red;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status{
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
