<%# <div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col"> %>



      <!-- Social Icons -->
      <div id="icons-container">
        <a href="#" class="social-icons" id="initials-icon">
          <span>SN</span>
        </a>
        <ul class="social-icons">
          <li>
            <a href="https://www.linkedin.com/in/shoneriki/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/shoneriki">
              <i class="fab fa-github-square"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Rest of page -->

      <!-- Name and Job-title Header -->

      <div id="name-container">
        <h1 id="name-content">Sho Neriki</h1>
      </div>
      <h3 id="sub-title">
        Full Stack Developer | Classical Violinist
      </h3>

      <!--Project card 1 -->



        <div class="info1-wrap">
          <div class="info1">
            <hr>
            <h1>MentorHub</h1>

          </div>
        </div>

        <div class="card-wrapper">
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('images/MentorHub.png');">
            <%= image_tag "MentorHub.png" %>
          </div>
          <p>An app designed to simplify the connection between mentors and mentees</p>
        </div>


    <%# </div>
  </div>
</div> %>
