<!-- Header -->
<header data-aos="zoom-in" data-aos-duration="3000">
  <!-- to be added when jquery is figured out-->
  <div class="menu-toggler" onclick="toggle()">
    <div class="bar half start"></div>
    <div class="bar"></div>
    <div class="bar half end"></div>
  </div>
  <nav class="top-nav">
    <ul class="nav-list">
      <li>
        <a href="index.html" class="nav-link">Home</a>
      </li>
      <li>
        <a href="#about" class="nav-link">About</a>
      </li>
      <%# <li>
        <a href="#services" class="nav-link">Services</a>
      </li> %>
      <li>
        <a href="#portfolio" class="nav-link">Portfolio</a>
      </li>
      <li>
        <a href="#contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="landing-text">
    <h1>Sho Neriki</h1>
    <h6>Full-Stack Web Developer</h6>
  </div>
</header>
<!-- Header End -->

<!-- About Me -->
<section class="about" id="about" data-aos="zoom-in" data-aos-duration="3000">
  <div class="container">
    <div class="profile-img">
      <img src="assets/images/sho-picture.jpg" alt="">
    </div>
    <div class="about-details">
      <div class="about-heading">
        <h1>About</h1>
        <h6>Myself</h6>
      </div>
      <p>I am a full-stack web developer. I recently attended the Le Wagon Full-Stack Web Development Course. Before this, I was a classically trained violinist with Bachelor's and Master's degrees on the subject to boot. </p>
      <div class="social-media">
      <ul class="nav-list">
        <li>
          <a href="#" class="icon-link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="#" class="icon-link">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- About Me End -->



<!-- Portfolio/Projects Section-->
<section class="portfolio" id="portfolio">
  <div class="container" data-aos="zoom-in" data-aos-duration="3000" >
    <div class="section-heading">
      <h1>Projects</h1>
      <h6>Here are my recent projects</h6>
    </div>

    <div class="portfolio-item" data-aos="fade-right" data-aos-duration="3000">
      <div class="portfolio-img">
        <img src="assets/images/MentorHub-portfolio.png" alt="">
      </div>
      <div class="portfolio-description">
        <h6>Project Manager</h6>
        <h1>MentorHub</h1>
        <p>
          MentorHub - Personal Growth Made Easy.
          <br></br>
          Needing a mentor in these tough times? Try MentorHub today.
        </p>
        <a href="#" class="cta">View Details</a>
      </div>
    </div>

    <div class="portfolio-item" data-aos="fade-left" data-aos-duration="3000">
      <div class="portfolio-description">
        <h6>Front-End Developer</h6>
        <h1>Moovers </h1>
        <p>Moovers - Innovative Delivery Solution
            <br><br> Realize you have a ton of stuff to carry, but don't have that big car that you need to carry your stuff? Hire a moover to do that for you.</p>
        <a href="#" class="cta">View Details</a>
      </div>
      <div class="portfolio-img">
        <img src="assets/images/Moovers-portfolio.png" alt="">
      </div>
    </div>

    <div class="portfolio-item" data-aos="fade-right" data-aos-duration="3000">
      <div class="portfolio-img">
        <img src="assets/images/Mixin'-It-Up-portfolio.png" alt="">
      </div>
      <div class="portfolio-description">
        <h6>Full-Stack Developer</h6>
        <h1>Project 3</h1>
        <p>
          Mixin' It Up- Sit Back, Relax, Have A Drink
          <br><br>
          Try putting in your favorite cocktail recipes
        </p>
        <a href="#" class="cta">View Details</a>
      </div>
    </div>

  </div>
</section>
<!-- Portfolio/Projects Section End-->

<!-- Contact Section -->
<section class="contact" id="contact">
  <div class="container"data-aos="zoom-in" data-aos-duration="3000">
    <div class="section-heading">
      <h1>Contact</h1>
      <h6>Let's work together on something</h6>
    </div>
    <form action="">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
      <%# <label for="service">Services:</label>
      <select name="services" id="service">
        <option value="">Front-End</option>
        <option value="">Back-End</option>
        <option value="">Other Skills</option>
      </select> %>
      <label for="subject">Subject:</label>
      <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
      <input type="Submit" value="Submit">
    </form>
  </div>
</section>
<!-- Contact Section End -->

<!-- Footer -->
<footer class="copyright">
  <div class="up" id="up"></div>
    <i class="fas fa-chevron-up"></i>
    <p>&copy; 2020 Sho Neriki</p>
</footer>
<!-- Footer End-->
